* {
    filter: blur(0.3px);
}

body {
    overflow: hidden;
    background-color: black;
    background-image: url("images/moobioblue.jpg");
    background-position: center c;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -50px;
    left: -0px;
    opacity: 0.79;
}

/* img {
    
} */



#moobiotitle {
    font-family: 'darker grotesque', sans-serif;
    color: rgb(188, 251, 255);
    margin-left: 3vw;
}

/* .background {
     
} */

audio::-webkit-media-controls-panel {
    background-color: rgb(160, 160, 160);
}

.audioclass {
    display: block;
    margin: 0 auto;
    bottom: 40vh;
    left: 37%;
}


.title-track {
    position: absolute;
    top: 55vh;
    left: 175px;
    color: white;
    font-family: garamond, serif;
    text-align: center;

}

.visualizer-container {
    position: absolute;
    bottom: 50vh;
    right: 0;
    left: 0;
    text-align: center;
}

.visualizer-containerbar {
    display: inline-block;
    background: linear-gradient(black, rgb(176, 245, 253));
    margin: 0 2px;
    width: 25px;
}

/* blue or black first in gradient??? */

/* Fonts. -###- are available font weights.
font-family: 'Bellefair', serif;
font-family: 'Belleza', sans-serif;
font-family: 'Buda', cursive;
font-family: 'Cagliostro', sans-serif;
font-family: 'Cantarell', sans-serif;
font-family: 'Caudex', serif;
font-family: 'Convergence', sans-serif;
font-family: 'Cormorant Infant', serif; -300, 400, 500, 600-
font-family: 'Cormorant Unicase', serif; -300, 400, 500-
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Eczar', serif;
font-family: 'Fahkwang', sans-serif; -200, 300, 400, 500-
font-family: 'Forum', cursive;
font-family: 'Gayathri', sans-serif;
font-family: 'Genos', sans-serif; -100, 200, 400-
font-family: 'Gideon Roman', cursive;
font-family: 'Gilda Display', serif;
font-family: 'Gotu', sans-serif;
font-family: 'Gruppo', cursive;
font-family: 'Italiana', serif;
font-family: 'Junge', serif;
font-family: 'Life Savers', cursive; -400, 700-
font-family: 'Limelight', cursive;
font-family: 'Long Cang', cursive;
font-family: 'Lora', serif;
font-family: 'Marcellus', serif;
font-family: 'Mirza', cursive;
font-family: 'Mukta', sans-serif;
font-family: 'Mukta Vaani', sans-serif;
font-family: 'Noto Serif Display', serif; -300, 400-
font-family: 'Philosopher', sans-serif;
font-family: 'Qahiri', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Rozha One', serif;
font-family: 'Spectral', serif; -200, 500-
font-family: 'Swanky and Moo Moo', cursive;
font-family: 'Tenor Sans', sans-serif;
font-family: 'Trirong', serif; -200, 300, 400, 500, 600, 900-
font-family: 'ZCOOL XiaoWei', serif;
font-family: 'Zen Antique', serif;
font-family: 'Zen Kurenaido', sans-serif; */
